body        
    nav(class='navbar navbar-expand-lg navbar-dark bg-primary')
        .container-fluid
            a.navbar-brand(href='/') 
                img(src='https://i.imgur.com/x36BB54.png' height='40' width='40' style='border-radius: 15px')
                |  KitsuneList
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar' aria-controls='navbar' aria-expanded='false')
                span.navbar-toggler-icon
            div(class='collapse navbar-collapse' id='navbar')
                ul(class='navbar-nav me-auto mb-2 mb-lg-0')
                    li.nav-item 
                        a(class='nav-link active' href='/login') Login